@use '../../../../../scss/abstracts/variables' as v;
@use '../../../../../scss/abstracts/mixins' as m;

.events-default {

  margin-top: calc( v.$gap * 2 );
  @include m.gridLayout('none', v.$gap, 3 );
  @include m.responsiveDesign('phone') {
    grid-template-columns: 1fr;
  }

  & .events-card__figure {
    margin-top: 1rem;
  }

  & .events-card__image {
    object-fit: contain;
  }

}