@use '../../../../../scss/abstracts/variables' as v;
@use '../../../../../scss/abstracts/mixins' as m;

.swiper-com {
  position: relative; 
  width: 100%;
  height: 100%;

  &__img {
    height: 100%;

    @include m.responsiveDesign('tab-land') {
      width: 100%;
      height: 20vh
    } 
  }

  &__figure {
    @include m.flexLayout('center');
    width: 100%;
    margin-bottom: 1.4rem;
    opacity: .7;

    img {
      width: 8rem;

      @include m.responsiveDesign('tab-land') {
        display: none;
      } 
    }
  }

  &__overflow {
    @include m.overflow( v.$color-red-shade, 1, .5 );
  }

  &__content {
    text-align: center;
    width: 70%;
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    color: v.$color-white;
    z-index: 2;

    @include m.responsiveDesign('tab-land') {
      width: 100%;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    } 
  }

  &__title {
    display: inline-block;
    font-size: 3.2rem;

    @include m.responsiveDesign('tab-land') {
      border-bottom: none;
      font-size: 2rem;
    } 
  }
  
  &__text {
    color: v.$color-white;

    @include m.responsiveDesign('tab-land') {
      display: none;
    } 
  }
} 
