$color-text-tint: #87878c;
$color-text: #27262a;
$color-text-shade: #141315;

$color-main-tint: #b19b9b;
$color-main: #623637;
$color-main-shade: #311b1c;

$color-red-tint: #d0b2b2;
$color-red: #A16564;
$color-red-shade: #513332;

$color-golden-tint: #46362d;
$color-golden: #8b6c59;
$color-golden-shade: #8b6c59;

$color-brown-tint: #e8dad3;
$color-brown: #d0b4a7;
$color-brown-shade: #685a54;

$color-light-tint: #f9f1ea;
$color-light: #f2e3d5;
$color-light-shade: #79726b;

$color-white: #f7f7f7;
$color-error: #ff8787;
$color-success: #339af0;

$border-df: 1px solid #e1e1e1;
$shadow-df: 0 5px 5px rgba(0, 0, 0, .15);

$font-df-size: 1.6rem;
$font-df-size2: 1.4rem;
$font-df-weight: 400;
$font-text: 'Montserrat', sans-serif;
$font-heading: 'Playfair Display', serif;

$gap: 1.5rem;