@use '../../../../../scss/abstracts/variables' as v;
@use '../../../../../scss/abstracts/mixins' as m;

.event-stats {

  margin-top: 2rem;
  @include m.flexLayout('none');
  @include m.responsiveDesign('phone') {
    flex-wrap: wrap;
    justify-content: center;
  }

  &__stat {
    font-family: v.$font-heading;
    font-size: 1.4rem;
    margin-right: 1.6rem;
    border-radius: 100px;
    padding: 0 1rem;
    @include m.flexLayout('center');
    @include m.responsiveDesign('phone') {
      width: 19rem;
      margin-right: 0;
      margin-bottom: 2rem;

      &:nth-child(odd) {
        margin-right: 1rem;
      }
    }

    &:last-child {
      margin-right: 0;
    }

    span {
      margin-left: 1rem;
      font-size: 2.4rem;
      font-weight: bold;
    }

    &--left {
      background-color: v.$color-brown;
    }
  }

}