@use '../../../../../scss/abstracts/variables' as v;
@use '../../../../../scss/abstracts/mixins' as m;

.event-information {

  flex-basis: 60%;
  border: v.$border-df;
  padding: calc( v.$gap * 2 );
  border-radius: 10px;
  box-shadow: v.$shadow-df;
  background-color: #fff;  

  &__container {
    width: 100%;
  }

  &__header {
    @include m.flexLayout('space-between');
    margin-bottom: 1.2rem;
  }

  &__icon {
    font-size: 2rem;
  }

  &__title {
    text-align: center;
    width: 100%;
    display: block;
    font-size: 1.6rem;
    letter-spacing: 1px;
    color: v.$color-main;
    text-transform: uppercase;
    font-family: v.$font-text;
    border-bottom: v.$border-df;
    @include m.responsiveDesign('phone') {
      text-align: left;
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 1.4rem;
    @include m.responsiveDesign('phone') {
      text-align: center;
      margin-bottom: 4rem;
    }
  }

  &__list {
    font-size: 1.4rem;
  }

  &__item {
    font-family: v.$font-heading;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;

    span {
      font-size: 1.4rem;
      text-transform: none;
      display: inline-block;
      margin-left: 1rem;
      font-family: v.$font-text;
      font-weight: 300;
    }

    &--last {
      width: 100%;
      @include m.flexLayout('space-between');
    }
  }

  &__buttons {
    @include m.flexLayout('none');
  }

  &__button {
    margin-top: -15px;
    background-color: v.$color-main-shade;
    color: #fff;
    height: 4rem;
    width: 4rem;
    margin-right: 1.6rem;
    border-radius: 10px;
    box-shadow: v.$shadow-df;
    @include m.flexLayout('center');
    transition: all .4s ease;
    border: 1px solid transparent;

    &:last-child {
      margin-right: 0;
    }

    &:hover {
      border-color: #000;
      color: #000;
      background-color: #fff;
    }
  }

}