@use '../../../scss/abstracts/variables' as v;
@use '../../../scss/abstracts/mixins' as m;

.layout-credentials {
  height: 100vh;

  @include m.gridLayout('45-55', v.$gap );

  @include m.responsiveDesign( 'phone' ) {
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  &__content {
    padding: v.$gap;
    height: 100%;
    width: 100%;

    @include m.responsiveDesign('phone') {
      padding: calc( v.$gap * 1.5 ) v.$gap;
    }
  }

  &__information {
    padding: calc( v.$gap * 1.5 ) calc( v.$gap * 3 );

    @include m.responsiveDesign('phone') {
      padding: 1rem;
    }
  }

  &__header {
    @include m.flexLayout('center');
    justify-content: flex-start;
    margin-bottom: calc( v.$gap * 2 );

    @include m.responsiveDesign('phone') {
      justify-content: center;
      margin-bottom: v.$gap;
    }

    &-img {
      width: 20rem;
    }
  }

  &__wel {
    text-align: center;
    margin-bottom: calc( v.$gap * 3 );

    @include m.responsiveDesign('phone') {
      margin-bottom: calc( v.$gap * 2 );
    }
    
    &-text {
      margin: 0 auto;
      width: 100%;
    }

    &-title {
      display: inline-block;
      margin-bottom: 1rem;
    }
  }

  &__disclaimer {
    margin-top:calc( v.$gap * 4 );
    @include m.flexLayout('center', .5rem);
  
    &-link {
      color: inherit;
      font-weight: 500;
    }
  }

}